SetEnv APPLICATION_ENV development

#use to allow us add more parameters after root directory
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^(.+)$ index.php?url=$1 [QSA]
#restrict directory and index.php only and except specific files in directory will create another 
#.htaccess like in Application\.htaccess
Options -Indexes 


